body {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	background: url("../images/background_pattern.png");
	height: 100vh;
}

nav a h3 {
	font-family: "Georgia", Times, Times New Roman, serif;
	color: #fff;
	background-color: #4aaaa5;
}

header {
	border-bottom: 2px solid #ccc;
}

nav,
#content {
	max-width: 960px;
	min-width: 320px;
}

a:link {
	color: #ccc;
}

a:visited {
	color: #ccc;
}

li a:hover {
	color: #4aaaa5;
}

li:not(:nth-child(3)) {
	border-right: 1px solid #f2f2f2;
}

article h3 {
	font-family: "Georgia", Times, Times New Roman, serif;
	color: #4aaaa5;
}

article hr {
	background-color: #ddd;
	border: 1px solid #ddd;
}

#article-content {
	color: #777;
}

#overlay-text {
	background: #4aaaa5;
}

/* Portfolio thumbnails overlay effect */
.card::after {
	content: "Coming Soon";
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: #008cba;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: 0.5s ease;
	text-align: center;
	line-height: 300px;
	opacity: 0.9;
	color: white;
	font-weight: bold;
	font-size: 1.5em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
.card:hover::after {
	bottom: 0;
	height: 100%;
}
.card:hover .card-img-overlay {
	transition: 0.6s ease;
	opacity: 0;
}

footer {
	background-color: #666666;
	border-top: 8px solid #4aaaa5;
	font-size: 0.6em;
	color: #ccc;
}
